extend layout

block contenido	
	.principal
		form(id="formDoc")
			input(id="nuevoDoc", type="text", placeholder="Empecemos a Compartir", required)

		p.
			Iniciemos colocando un nombre para nuestro nuevo Archivo

		p="Ultimos Archivos Utilizados"
		ul(id="ultimos", style="text-align: center;")
		br
		br
		p="Empecemos a compartir, empecemos a enseñar, empecemos a aprender y sobre todo empecemos a "
			br
			span.
				SOÑAR