@import 'nib'


body
	background #E0E0E0
	font-family 'Open Sans'
	font-size 16px

a
	text-decoration none

header
	background #00A67C
	height 7em
	position absolute
	width 100%

	h1
		color #006C51
		text-align center
		padding-top 0.5em

.principal
	padding-top 12em
	color #006C51
	font-weight bold

	#linkcomparti
		text-align center
		padding-bottom 1em

	#formDoc
		text-align center

		input
			font-size 3em

	p
		text-align center
		margin-top 3em

		&:last-child
			margin-bottom 3em

			span
				color red
				font-size 3em				
input	
	background-color #FFF
	border 1px solid #CCC;
	box-shadow inset 0 1px 1px rgba(0, 0, 0, 0.075)	
	text-align center
	transition border linear 0.2s, box-shadow linear 0.2s

footer
	background #00A67C
	height 5em
	
	p
		color #006C51
		font-size 1em
		padding-top 1.1em
		text-align center

ul, li	
	list-style-type none

	a
		color gray